
  

<h2>Buscale carnal!</h2>

<button (click)="addFood()" >AddFood</button>

<form (submit)="pushToFoods()" *ngIf="show">
  <input [(ngModel)]="nuevaComida.name" placeholder="name" type="text" name="name">
  <br>
  <input [(ngModel)]="nuevaComida.calories" placeholder="calories" type="text" name="calories">
  <br>
  <input [(ngModel)]="nuevaComida.image" placeholder="image" type="text" name="image">
  <input type="submit">
</form>

<br>
<br>

<input placeholder="buscale mijo" [(ngModel)]="search" type="text">

<ul>
  <li *ngFor="let food of foods | filter:'name':search ">
     <!-- <a [routerLink]="[food.name]"> -->
       <a href="/comida/{{food.name}}">
        <h4>{{food.name}}</h4>
    </a>
    
    <img width="100" [src]="food.image" [alt]="food.name">
    <p>Calorias: {{food.calories}}</p>
    <button (click)="addToday(food)" >+</button>
  </li>
</ul>


<div *ngIf="todayList.length>0"  style="position:fixed;top:0;right:0;overflow:scroll;height:400px">
  <h3>Total de calorias: {{totalCalories}}</h3>
<ul>
  <li *ngFor="let food of todayList">
    <h4>{{food.name}}</h4>
    <img width="100" [src]="food.image" [alt]="food.name">
    <p>Calorias: {{food.calories}}</p>
    <p>Cantidad: {{food.quantity}}</p>
  </li>
</ul>
</div>



<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
  <p> Username
    <input type="text" name="username" [(ngModel)]="username"
          #myUsername="ngModel" minlength="6" />
  </p>
  <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
    <p class="error" [hidden]="!myUsername.errors.minlength">
      Username must be at least 6 characters long.
    </p>
  </div>
  <p> Password
    <input type="password" name="password" [(ngModel)]="password"
          #myPassword="ngModel" required />
  </p>
  <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
    <p class="error" [hidden]="!myPassword.errors.required">
      Password is required
    </p>
  </div>
  <button type="submit"> signup </button>
</form>


